.footer {
    .Footer {
        padding: 4rem 0 2.4rem;
        border-top: .2rem solid #f3f1ee
    }
    
    .Footer-primary {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap
    }
    
    .Footer-nav {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin: 0 0 6.4rem
    }
    
    @media (min-width:320px) {
        .Footer-nav {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            margin: 0
        }
    }
    
    .Footer-nav-items {
        list-style: none;
        margin: 0;
        padding: 0
    }
    
    .Footer-nav-item {
        font-size: 1.6rem;
        font-weight: 500
    }
    
    .Footer-nav-link {
        color: #82817d;
        transition: color .25s
    }
    
    .Footer-nav-link:hover {
        color: #2a2825
    }
    
    .Footer-nav-link--facebook {
        color: #3a5998
    }
    
    .Footer-nav-link--facebook:hover {
        color: #1e2e4e
    }
    
    .Footer-nav-link--reddit {
        color: #fd4404
    }
    
    .Footer-nav-link--reddit:hover {
        color: #9a2801
    }
    
    .Footer-nav-link--gitter {
        color: #ff5e98
    }
    
    .Footer-nav-link--gitter:hover {
        color: #f70059
    }
    
    .Footer-nav-link--twitter {
        color: #1ba1f3
    }
    
    .Footer-nav-link--twitter:hover {
        color: #0866a0
    }
    
    .Footer-nav-link--telegram {
        color: #179cdf
    }
    
    .Footer-nav-link--telegram:hover {
        color: #0d5b83
    }
    
    .Footer-nav-link--discord {
        color: #7289da
    }
    
    .Footer-nav-link--discord:hover {
        color: #304eb6
    }
    
    .Footer-primary-love {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        color: #82817d;
        font-size: 1.6rem;
        font-weight: 400
    }
    
    .Footer-primary-love a {
        position: relative;
        color: #2a2825;
        font-weight: 500;
        transition: color .25s
    }
    
    .Footer-primary-love a:after {
        position: absolute;
        left: 0;
        bottom: -.2rem;
        display: block;
        width: 100%;
        height: .2rem;
        background-color: #e7e6e4;
        content: ""
    }
    
    .Footer-primary-love a:hover {
        color: #e27dd1
    }
    
    @media (min-width:320px) {
        .Footer-primary-love {
            margin: 6.4rem 0 0
        }
    }
    
    @media (min-width:760px) {
        .Footer-primary-love {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            margin: 0;
            text-align: right
        }
    }
    
    .Footer-secondary {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-top: 6.4rem
    }
    
    @media (min-width:760px) {
        .Footer-secondary {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center
        }
    }
    
    .Footer-secondary-link {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        color: #82817d;
        font-size: 1.6rem;
        transition: color .25s
    }
    
    .Footer-secondary-link:hover {
        color: #2a2825
    }
    
    @media (min-width:480px) {
        .Footer-secondary-link {
            -webkit-box-flex: 0;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            margin-right: 2.4rem
        }
    }
    
    @media (min-width:760px) {
        .Footer-secondary-link {
            -webkit-box-flex: 0;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            margin: 0 2.4rem
        }
    }
    
    .Main {
        min-height: calc(100vh - 32rem)
    }
    
    .FloatingSupportLink {
        position: fixed;
        right: 3.2rem;
        bottom: 3.2rem;
        overflow: hidden;
        width: 5.2rem;
        height: 5.2rem;
        transition: width 0s .25s
    }
    
    .FloatingSupportLink-icon {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
        display: block;
        width: 5.2rem;
        height: 5.2rem;
        background: #7289da;
        border-radius: 5.2rem 5.2rem;
        transition: opacity .25s, -webkit-transform .25s;
        transition: transform .25s, opacity .25s;
        transition: transform .25s, opacity .25s, -webkit-transform .25s
    }
    
    .FloatingSupportLink-icon--message {
        opacity: 1;
        -webkit-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1)
    }
    
    .FloatingSupportLink-icon--plane {
        opacity: 0;
        -webkit-transform: translateZ(0) scale(0);
        transform: translateZ(0) scale(0)
    }
    
    .FloatingSupportLink-text {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-left: 5.2rem;
        width: 16rem;
        height: 5.2rem;
        color: #fff;
        background: #7289da;
        border-radius: 5.2rem 5.2rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1;
        opacity: 0;
        transition: opacity .25s
    }
    
    .FloatingSupportLink-text strong {
        font-weight: 500
    }
    
    .FloatingSupportLink:hover {
        width: 16rem;
        transition: width 0s 0s
    }
    
    .FloatingSupportLink:hover .FloatingSupportLink-icon--message {
        opacity: 0;
        -webkit-transform: translate3d(-10.8rem, 0, 0) scale(0);
        transform: translate3d(-10.8rem, 0, 0) scale(0)
    }
    
    .FloatingSupportLink:hover .FloatingSupportLink-icon--plane {
        opacity: 1;
        -webkit-transform: translate3d(-10.8rem, 0, 0) scale(1);
        transform: translate3d(-10.8rem, 0, 0) scale(1)
    }
    
    .FloatingSupportLink:hover .FloatingSupportLink-text {
        opacity: 1
    }

    .Container {
        margin: 0 auto;
        padding: 0 2.4rem;
        width: 100%;
        max-width: 96rem
      }
      
      @media (min-width:760px) {
        .Container {
            padding: 0 3.2rem
        }
      }
      
      .Container--sm {
        max-width: 72rem
      }
      
      .Container--lg {
        max-width: 112rem
      }
      
      .Container__full {
        max-width: 100%
      }
      
      .Container--center {
        text-align: center
      }
      
      @media (min-width:760px) {
        .Container--half {
            position: absolute;
            max-width: 55%
        }
      }
      
      @media (min-width:960px) {
        .Container--half {
            max-width: 51%
        }
      }
}