.SubpageNav {
    padding: 3.2rem 2.4rem;
    margin-bottom: 6.4rem;
    background-color: #f9f8f6;
    background-image: url("static/image/pattern-tile.png");
    background-size: 50rem auto;
    text-align: center;
}

.SubpageNav-btn--active, .SubpageNav-btn:hover {
    background-color: #f9f8f6;
    border-color: #e7e6e4;
}

.SubpageNav-btn--active, .SubpageNav-btn:hover {
    background-color: #f9f8f6;
    border-color: #e7e6e4;
}

.SubpageNav-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem 1.5rem;
    margin: 0 .5rem 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: #fff;
    border: .2rem solid #f3f1ee;
    border-radius: .5rem;
}

.PressPage {
    /*padding: 2.4rem 0*/
}

.PressPage-section {
    margin-bottom: 6.4rem
}

.PressPage-description {
    font-size: 2.4rem;
    color: #575553
}

.PressPage-highlight {
    padding: .3rem;
    border-radius: .3rem;
    background-color: #c5eefa;
    font-size: 1.6rem;
    font-weight: 500;
    color: #2a2825
}

.PressPage-bg {
    background-color: #f9f8f6;
    background-image: url("static/image/pattern-tile.png");
    background-size: 50rem auto;
    padding: 6.4rem 0 3.2rem
}

.PressPage-cardWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 48rem;
    margin: 6.4rem auto
}

@media (min-width:760px) {
    .PressPage-cardWrapper--expandMd {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        max-width: 100%
    }
}

@media (min-width:960px) {
    .PressPage-cardWrapper--expandLg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        max-width: 100%
    }
}

.PressPage-card {
    display: block;
    width: 100%;
    padding: 2.4rem;
    margin-bottom: 2.4rem;
    border: .2rem solid #f3f1ee;
    border-radius: .5rem;
    box-shadow: 0 .2rem 0 #f3f1ee;
    background-color: #fff;
    text-align: left
}

.PressPage-card-h2 {
    font-size: 2rem
}

.PressPage-card-p {
    margin: 0
}

@media (min-width:760px) {
    .PressPage-card {
        -ms-flex-preferred-size: 31.67%;
        flex-basis: 31.67%;
        max-width: 100%;
        min-height: 22rem
    }
}

.PressPage-profilePhoto {
    max-width: 9rem
}

.PressPage-assetWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.PressPage-asset {
    position: relative;
    display: block;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 40rem;
    margin: 0 auto;
    padding: 4.8rem 3.2rem 8rem;
    margin-bottom: 2.4rem;
    border: .2rem solid #f3f1ee;
    box-shadow: 0 .2rem 0 #f3f1ee;
    border-radius: .5rem;
    background-color: #fff
}

.PressPage-asset-img {
    width: 100%
}

@media (min-width:760px) {
    .PressPage-asset {
        -ms-flex-preferred-size: 31.33%;
        flex-basis: 31.33%;
        max-width: 100%;
        margin: 0 0 2.4rem
    }
    .PressPage-asset--full {
        padding: 0
    }
    .PressPage-asset--wide {
        -ms-flex-preferred-size: 65.67%;
        flex-basis: 65.67%;
        padding: 9.6rem 6.4rem
    }
}

.PressPage-asset-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 1.5rem 4.8rem;
    border-top: .2rem solid #f3f1ee;
    background-color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    color: #e96bd4
}

.PressPage-asset-footer:after,
.PressPage-asset-footer:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    width: 2.5rem;
    height: 2.5rem;
    margin: auto;
    background-repeat: no-repeat;
    background-position: 50%
}

.PressPage-asset-footer:before {
    left: 1.5rem;
    background-image: url("static/image/image.svg");
    background-size: 1.8rem auto
}

.PressPage-asset-footer:after {
    right: 1.5rem;
    background-image: url("static/image/download.svg");
    background-size: contain
}

.PressPage-link {
    position: relative;
    display: block;
    margin-left: 6rem;
    margin-bottom: 3.2rem;
    padding-top: .8rem;
    color: #575553
}

.PressPage-link:after {
    content: "";
    position: absolute;
    left: -6rem;
    top: 0;
    bottom: 0;
    height: 4.5rem;
    width: 4.5rem;
    background-image: url("static/image/press.svg");
    background-repeat: no-repeat;
    background-position: 0;
    background-size: contain
}

.Button:focus,
.Button:hover,
a.Button:focus,
a.Button:hover {
    border: 2px solid #e7e6e4;
    box-shadow: 0 .2rem 0 0 #e7e6e4;
    -webkit-transform: translateY(-.2rem);
    transform: translateY(-.2rem)
}

.Button:active,
a.Button:active {
    box-shadow: none;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.Button--full,
a.Button--full {
    width: 100%
}

.Button--wide,
a.Button--wide {
    padding: 0 3.2rem
}

.Button--large,
a.Button--large {
    height: 5.6rem
}

.Button--larger,
a.Button--larger {
    height: 6.2rem;
    padding: 0 2.4rem;
    font-size: 2rem
}

.Button--largest,
a.Button--largest {
    height: 7rem;
    padding: 0 3.2rem;
    font-size: 2.2rem
}

.Button--icon,
a.Button--icon {
    padding: 0 1.5rem 0 3.52rem
}

.Button--buy,
.Button--love,
a.Button--buy,
a.Button--love {
    --color-main: #e37ad3;
    --color-shadow: #d850b1;
    background-color: var(--color-main);
    color: #fff;
    font-weight: 500;
    border: .2rem solid #0b0b0b;
    box-shadow: inset 0 0 0 .3rem var(--color-shadow)
}

.Button--buy:focus,
.Button--buy:hover,
.Button--love:focus,
.Button--love:hover,
a.Button--buy:focus,
a.Button--buy:hover,
a.Button--love:focus,
a.Button--love:hover {
    border: .2rem solid #0b0b0b;
    box-shadow: inset 0 0 0 .3rem var(--color-shadow), 0 .4rem 0 0 #e7e6e4;
    -webkit-transform: translateY(-.2rem);
    transform: translateY(-.2rem)
}

.Button--buy:active,
.Button--love:active,
a.Button--buy:active,
a.Button--love:active {
    box-shadow: inset 0 0 0 .3rem var(--color-shadow);
    -webkit-transform: translateY(.2rem);
    transform: translateY(.2rem)
}

.Button--cta,
a.Button--cta {
    box-shadow: inset 0 0 0 .4rem var(--color-shadow), 0 .4rem 0 0 #e7e6e4
}

.Button--cta:focus,
.Button--cta:hover,
a.Button--cta:focus,
a.Button--cta:hover {
    box-shadow: inset 0 0 0 .4rem var(--color-shadow), 0 .5rem 0 0 #e7e6e4;
    -webkit-transform: translateY(-.2rem);
    transform: translateY(-.2rem)
}

.Button--cta:active,
a.Button--cta:active {
    box-shadow: inset 0 0 0 .4rem var(--color-shadow);
    -webkit-transform: translateY(.3rem);
    transform: translateY(.3rem)
}

.Button--buy,
a.Button--buy {
    --color-main: #fba371;
    --color-shadow: #ff844b
}

.Button-icon,
a.Button-icon {
    position: absolute;
    top: 50%;
    left: 1.2rem;
    height: 1.6rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.Button-number,
a.Button-number {
    margin-left: .8rem;
    color: #ff9b6a
}

.Button--disabled,
.Button[disabled],
a.Button--disabled,
a.Button[disabled] {
    opacity: .5;
    color: #82817d;
    pointer-events: none;
    cursor: not-allowed
}

.Button--disabled:active,
.Button--disabled:focus,
.Button--disabled:hover,
.Button[disabled]:active,
.Button[disabled]:focus,
.Button[disabled]:hover,
a.Button--disabled:active,
a.Button--disabled:focus,
a.Button--disabled:hover,
a.Button[disabled]:active,
a.Button[disabled]:focus,
a.Button[disabled]:hover {
    box-shadow: none;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.Button--love.Button--disabled,
.Button--love[disabled] {
    color: #fff
}


.Container {
    margin: 0 auto;
    padding: 0 2.4rem;
    width: 100%;
    max-width: 96rem
    }
    
    @media (min-width:760px) {
    .Container {
        padding: 0 3.2rem
    }
    }
    
    .Container--sm {
    max-width: 72rem
    }
    
    .Container--lg {
    max-width: 112rem
    }
    
    .Container__full {
    max-width: 100%
    }
    
    .Container--center {
    text-align: center
    }
    
    @media (min-width:760px) {
    .Container--half {
        position: absolute;
        max-width: 55%
    }
    }
    
    @media (min-width:960px) {
    .Container--half {
        max-width: 51%
    }
    }
    