.BrowsePage {
    padding-bottom: 6.4rem
}
.BrowseSearchBar {
    position: relative;
    margin-top: 2.4rem
}

.BrowseSearchBar .Filter-select {
    margin-left: 0;
    margin-top: .8rem;
    padding: 1.4rem 2.4rem;
    padding-right: 3.75rem;
    width: 100%
}

@media (min-width:760px) {
    .BrowseSearchBar .Filter-select {
        margin-left: 1rem;
        padding: 1.3rem 1.8rem;
        padding-right: 3.75rem;
        margin-top: 0;
        width: auto
    }
}

.BrowseAnnouncement {
    margin-top: 2.4rem
}

.Filter {
    --accent-color: #e96bd4;
    border-bottom: 2px solid #f3f1ee
}

.Filter-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 112rem;
    padding: 0 2.4rem;
    margin: 0 auto -.2rem
}

@media (min-width:760px) {
    .Filter-container {
        padding: 0 3.2rem;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
}

.Filter-tabs {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center
}

@media (min-width:760px) {
    .Filter-tabs {
        text-align: left
    }
}

.Filter-sortBy {
    display: none;
    color: #9c9c9b;
    font-weight: 500;
    font-size: 1.8rem
}

@media (min-width:760px) {
    .Filter-sortBy {
        display: block;
        width: auto;
        white-space: nowrap
    }
}

.Filter-selectors {
    width: 100%
}

@media (min-width:760px) {
    .Filter-selectors {
        width: auto
    }
}

.Filter-tab {
    display: inline-block;
    padding: 1.5rem 0;
    margin-right: 2.4rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #9c9c9b;
    cursor: pointer;
    transition: all .25s
}

@media (min-width:760px) {
    .Filter-tab {
        padding: 2.4rem 0;
        margin-right: 3.84rem;
        font-size: 2rem
    }
}

@media (min-width:960px) {
    .Filter-tab {
        font-size: 2.4rem
    }
}

.Filter-tab--active {
    color: #2a2825;
    border-bottom: .2rem solid var(--accent-color)
}

.Filter-select {
    margin-top: 1rem;
    padding: 1.3rem 1.8rem;
    padding-right: 3.75rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #2a2825;
    border: 2px solid #f3f1ee;
    border-radius: 99rem;
    background-position: right 1.8rem center;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all .2s;
    width: 100%
}

.Filter-select:hover {
    border-color: #e7e6e4;
    box-shadow: 0 .2rem 0 0 #e7e6e4;
    -webkit-transform: translateY(-.2rem);
    transform: translateY(-.2rem)
}

.Filter-select:focus {
    border-color: #e7e6e4;
    box-shadow: none;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

@media (min-width:760px) {
    .Filter-select {
        width: auto;
        margin-top: 0;
        margin-left: 1rem
    }
}

.Filter--orange {
    --accent-color: #ff9b6a
}

.Filter--purple {
    --accent-color: #e96bd4
}






.KittiesFilter-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.KittiesFilter-header:last-child {
    margin-bottom: 0
}

.KittiesFilter-header-count,
.KittiesFilter-header-toggle {
    color: #9c9c9b;
    font-size: 1.6rem;
    font-weight: 500;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
}

@media (min-width:320px) {
    .KittiesFilter-header-count,
    .KittiesFilter-header-toggle {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto
    }
}

.KittiesFilter-header-toggle {
    cursor: pointer;
    transition: color .25s
}

.KittiesFilter-header-toggle-icon {
    margin-right: 1.5rem
}

.KittiesFilter-header-toggle-icon g {
    stroke: #9c9c9b;
    transition: stroke .25s
}

.KittiesFilter--expanded .KittiesFilter-header-toggle,
.KittiesFilter--someFiltered .KittiesFilter-header-toggle {
    color: #2a2825
}

.KittiesFilter--expanded .KittiesFilter-header-toggle-icon g,
.KittiesFilter--someFiltered .KittiesFilter-header-toggle-icon g {
    stroke: #ef52d1
}

.KittiesFilter-groups {
    margin-top: 1.5rem
}

@media (min-width:760px) {
    .KittiesFilter-groups {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: 2.4rem
    }
}

.KittiesFilter-group {
    margin-bottom: 1.5rem
}

.KittiesFilter-group:last-child {
    margin-bottom: 0
}

@media (min-width:760px) {
    .KittiesFilter-group {
        margin-bottom: 0;
        margin-right: 2.4rem
    }
    .KittiesFilter-group:last-child {
        margin-right: 0
    }
}

.KittiesFilter-group-title {
    margin-bottom: .8rem;
    color: #2a2825;
    font-size: 2rem;
    font-weight: 500
}

.KittiesFilter-list {
    list-style: none;
    margin: 0;
    padding: 0
}

.KittiesFilter-list-groups {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.KittiesFilter-list-group {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin: 0 6.4rem 0 0
}

.KittiesFilter-list-item {
    display: block;
    color: #9c9c9b;
    font-size: 1.6rem;
    font-weight: 500;
    transition: color .25s
}

.KittiesFilter-list-item--isActive {
    color: #ef52d1
}

.KittiesFilter-list-button {
    cursor: pointer
}

.KittiesFilter-number-reset-button {
    color: #9c9c9b;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer
}

.KittiesFilter-number-reset-button--isDisabled {
    color: #e7e6e4
}



.BrowseFilterBar-filterResults {
    max-width: 112rem;
    padding: 1.5rem 2.4rem;
    margin: 0 auto -.2rem
}

@media (min-width:760px) {
    .BrowseFilterBar-filterResults {
        padding: 3.2rem 3.2rem 0
    }
}

.BrowseSearchBar {
    margin-top: 2.4rem
}
.BrowseSearchBar .Filter-select {
    margin-left: 0;
    margin-top: .8rem;
    padding: 1.4rem 2.4rem;
    padding-right: 3.75rem;
    width: 100%
}
@media (min-width: 760px) {
    .BrowseSearchBar .Filter-select {
        margin-left: 1rem;
        padding: 1.3rem 1.8rem;
        padding-right: 3.75rem;
        margin-top: 0;
        width: auto
    }
}

.InputButtons {
    --font-size: 1.8rem;
    --background-color: #fff;
    --background-color-focus: #fff;
    --border-color: #e7e6e4;
    --border-color-focus: #ff9b6a;
    --border-color-invalid: #f39db4;
    --border-radius: .5rem;
    position: relative
}
.InputButtons-input,
.InputButtons-input[type=text] {
    width: 100%;
    font-size: var(--font-size);
    border-color: var(--border-color);
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: background-color .5s
}
.InputButtons-input:focus,
.InputButtons-input[type=text]:focus {
    background-color: var(--background-color-focus);
    border-color: var(--border-color-focus)
}
.InputButtons-input:focus~.InputButtons-buttons,
.InputButtons-input[type=text]:focus~.InputButtons-buttons {
    opacity: 1
}
.InputButtons-input.is-invalid,
.InputButtons-input[type=text].is-invalid {
    border-color: var(--border-color-invalid)
}
.InputButtons-buttons {
    display: block;
    position: absolute;
    top: 50%;
    right: 1.5rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
@media (min-width: 760px) {
    .InputButtons-buttons {
        display: none
    }
}
.InputButtons-button {
    display: inline-block;
    padding: 0 .8rem;
    height: 4.4rem;
    background: transparent;
    color: #82817d;
    font-size: calc(var(--font-size) - .2rem);
    font-weight: 500;
    text-decoration: none;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    outline: none;
    vertical-align: top;
    transition: color .3s
}
.InputButtons-button:hover {
    color: #2a2825
}
.InputButtons-group {
    text-align: left
}
.InputButtons--search {
    --background-color: #f9f8f6;
    --border-color: #f3f1ee;
    --border-color-focus: #f3f1ee;
    --border-color-invalid: #e7e6e4;
    --border-radius: 0;
    --padding-left: 4.16rem;
    --background-position: 1.5rem center
}
@media (min-width: 960px) {
    .InputButtons--search {
        --font-size: 1.8rem;
        --right: calc(((100vw - 112rem) / 2) + 2.4rem);
        --padding-left: calc(((100vw - 112rem) / 2) + 5rem);
        --background-position: calc(((100vw - 112rem) / 2) + 2.4rem) center
    }
}
.InputButtons--search>.InputButtons-input,
.InputButtons--search>.InputButtons-input[type=text] {
    border-left: 0;
    border-right: 0;
    border-width: 2px;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    padding-left: var(--padding-left);
    background-repeat: no-repeat;
    background-image: url("static/image/search.svg");
    background-position: var(--background-position)
}
.InputButtons--search>.InputButtons-input::-webkit-input-placeholder,
.InputButtons--search>.InputButtons-input[type=text]::-webkit-input-placeholder {
    color: #9c9c9b
}
.InputButtons--search>.InputButtons-input[type=text]~.InputButtons-buttons,
.InputButtons--search>.InputButtons-input~.InputButtons-buttons {
    opacity: 1
}
.InputButtons--search>.InputButtons-input[type=text]~.InputButtons-buttons .InputButtons-button--primary,
.InputButtons--search>.InputButtons-input~.InputButtons-buttons .InputButtons-button--primary {
    display: none
}
.InputButtons--search>.InputButtons-input[type=text]~.InputButtons-buttons .InputButtons-button--dismiss,
.InputButtons--search>.InputButtons-input~.InputButtons-buttons .InputButtons-button--dismiss {
    display: block;
    opacity: .5
}
.InputButtons--search>.InputButtons-input[type=text][value=""]~.InputButtons-buttons .InputButtons-button--dismiss,
.InputButtons--search>.InputButtons-input[value=""]~.InputButtons-buttons .InputButtons-button--dismiss {
    display: none
}
.InputButtons--search>.InputButtons-input:focus,
.InputButtons--search>.InputButtons-input[type=text]:focus {
    background-color: var(--background-color-focus);
    border-color: var(--border-color-focus)
}
.InputButtons--search>.InputButtons-input:focus~.InputButtons-buttons .InputButtons-button--primary,
.InputButtons--search>.InputButtons-input[type=text]:focus~.InputButtons-buttons .InputButtons-button--primary {
    display: block
}
.InputButtons--search>.InputButtons-input:focus~.InputButtons-buttons .InputButtons-button--dismiss,
.InputButtons--search>.InputButtons-input[type=text]:focus~.InputButtons-buttons .InputButtons-button--dismiss {
    display: none
}
.InputButtons--searchSmall {
    --background-color: transparent;
    --border-color: #f3f1ee;
    --border-color-focus: #e7e6e4;
    --border-color-invalid: #f3f1ee;
    --border-radius: 99rem;
    margin-top: 0
}
@media (min-width: 760px) {
    .InputButtons--searchSmall {
        margin-top: 0;
        display: inline-block
    }
}
.InputButtons--searchSmall>.InputButtons-input,
.InputButtons--searchSmall>.InputButtons-input[type=text] {
    width: 100%;
    padding: 1.3rem 2.4rem;
    padding-left: 4.6rem;
    border-width: .2rem;
    background-repeat: no-repeat;
    background-image: url("static/image/search.svg");
    background-position: 1.8rem;
    transition: width .3s, border-color .3s
}
.InputButtons--searchSmall>.InputButtons-input::-webkit-input-placeholder,
.InputButtons--searchSmall>.InputButtons-input[type=text]::-webkit-input-placeholder {
    color: #9c9c9b
}
@media (min-width: 760px) {
    .InputButtons--searchSmall>.InputButtons-input,
    .InputButtons--searchSmall>.InputButtons-input[type=text] {
        width: 50rem;
        padding-right: 13.5rem;
        background-image: url("static/image/searchActive.svg")
    }
    .InputButtons--searchSmall>.InputButtons-input[type=text]~.InputButtons-buttons,
    .InputButtons--searchSmall>.InputButtons-input~.InputButtons-buttons {
        display: block
    }
    .InputButtons--searchSmall>.InputButtons-input::-webkit-input-placeholder,
    .InputButtons--searchSmall>.InputButtons-input[type=text]::-webkit-input-placeholder {
        color: #fff
    }
    .InputButtons--searchSmall>.InputButtons-input[type=text][value=""],
    .InputButtons--searchSmall>.InputButtons-input[value=""] {
        width: 32rem;
        padding-right: 2.4rem;
        background-image: url("static/image/search.svg")
    }
    .InputButtons--searchSmall>.InputButtons-input[type=text][value=""]~.InputButtons-buttons,
    .InputButtons--searchSmall>.InputButtons-input[value=""]~.InputButtons-buttons {
        display: none
    }
    .InputButtons--searchSmall>.InputButtons-input[type=text][value=""]::-webkit-input-placeholder,
    .InputButtons--searchSmall>.InputButtons-input[value=""]::-webkit-input-placeholder {
        color: #e7e6e4
    }
}
@media (min-width: 960px) {
    .InputButtons--searchSmall>.InputButtons-input,
    .InputButtons--searchSmall>.InputButtons-input[type=text] {
        width: 70rem
    }
}
.InputButtons--searchSmall>.InputButtons-input:hover,
.InputButtons--searchSmall>.InputButtons-input[type=text]:hover {
    border-color: #e7e6e4
}
.InputButtons--searchSmall>.InputButtons-input:focus,
.InputButtons--searchSmall>.InputButtons-input[type=text]:focus {
    padding-right: 13.5rem;
    color: #2a2825;
    background-image: url("static/image/searchActive.svg")
}
@media (min-width: 760px) {
    .InputButtons--searchSmall>.InputButtons-input:focus,
    .InputButtons--searchSmall>.InputButtons-input[type=text]:focus {
        width: 50rem
    }
}
@media (min-width: 960px) {
    .InputButtons--searchSmall>.InputButtons-input:focus,
    .InputButtons--searchSmall>.InputButtons-input[type=text]:focus {
        width: 70rem
    }
}
.InputButtons--searchSmall>.InputButtons-input:focus~.InputButtons-buttons,
.InputButtons--searchSmall>.InputButtons-input[type=text]:focus~.InputButtons-buttons {
    display: block
}
.InputButtons--searchSmall>.InputButtons-input:focus::-webkit-input-placeholder,
.InputButtons--searchSmall>.InputButtons-input[type=text]:focus::-webkit-input-placeholder {
    color: #fff
}
.InputButtons--readonly {
    --background-color: #f3f1ee;
    --background-color-focus: #f3f1ee;
    --border-color: #f3f1ee;
    --border-color-focus: #f3f1ee;
    pointer-events: none;
    font-weight: 400
}
.InputButtons--readonly>.InputButtons-buttons {
    opacity: 1;
    right: .6rem
}
.InputButtons--readonly .InputButtons-button {
    background-color: #fff;
    padding: 0 1.5rem
}

.KittiesGrid-item .KittyCard {
    opacity: 0;
    -webkit-transform: translateY(2.4rem);
    transform: translateY(2.4rem);
    -webkit-animation: kittyCardIn .25s cubic-bezier(.06, .67, .37, .99) forwards;
    animation: kittyCardIn .25s cubic-bezier(.06, .67, .37, .99) forwards
}
.KittiesGrid-item:first-child .KittyCard {
    -webkit-animation-delay: .05s;
    animation-delay: .05s
}
.KittiesGrid-item:nth-child(2) .KittyCard {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}
.KittiesGrid-item:nth-child(3) .KittyCard {
    -webkit-animation-delay: .15s;
    animation-delay: .15s
}
.KittiesGrid-item:nth-child(4) .KittyCard {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}
.KittiesGrid-item:nth-child(5) .KittyCard {
    -webkit-animation-delay: .25s;
    animation-delay: .25s
}
.KittiesGrid-item:nth-child(6) .KittyCard {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}
.KittiesGrid-item:nth-child(7) .KittyCard {
    -webkit-animation-delay: .35s;
    animation-delay: .35s
}
.KittiesGrid-item:nth-child(8) .KittyCard {
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}
.KittiesGrid-item:nth-child(9) .KittyCard {
    -webkit-animation-delay: .45s;
    animation-delay: .45s
}
.KittiesGrid-item:nth-child(10) .KittyCard {
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}
.KittiesGrid-item:nth-child(11) .KittyCard {
    -webkit-animation-delay: .55s;
    animation-delay: .55s
}
.KittiesGrid-item:nth-child(12) .KittyCard {
    -webkit-animation-delay: .6s;
    animation-delay: .6s
}
.KittiesGrid-item:nth-child(13) .KittyCard {
    -webkit-animation-delay: .65s;
    animation-delay: .65s
}
.KittiesGrid-item:nth-child(14) .KittyCard {
    -webkit-animation-delay: .7s;
    animation-delay: .7s
}
.KittiesGrid-item:nth-child(15) .KittyCard {
    -webkit-animation-delay: .75s;
    animation-delay: .75s
}
.KittiesGrid-item:nth-child(16) .KittyCard {
    -webkit-animation-delay: .8s;
    animation-delay: .8s
}
.KittiesGrid-item:nth-child(17) .KittyCard {
    -webkit-animation-delay: .85s;
    animation-delay: .85s
}
.KittiesGrid-item:nth-child(18) .KittyCard {
    -webkit-animation-delay: .9s;
    animation-delay: .9s
}
.KittiesGrid-item:nth-child(19) .KittyCard {
    -webkit-animation-delay: .95s;
    animation-delay: .95s
}
.KittiesGrid-item:nth-child(20) .KittyCard {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}
.KittiesGrid-item:nth-child(21) .KittyCard {
    -webkit-animation-delay: 1.05s;
    animation-delay: 1.05s
}
.KittiesGrid-item:nth-child(22) .KittyCard {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s
}
.KittiesGrid-item:nth-child(23) .KittyCard {
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s
}
.KittiesGrid-item:nth-child(24) .KittyCard {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s
}
.KittiesGrid-item:nth-child(25) .KittyCard {
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s
}
.KittiesGrid-item:nth-child(26) .KittyCard {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s
}
.KittiesGrid-item:nth-child(27) .KittyCard {
    -webkit-animation-delay: 1.35s;
    animation-delay: 1.35s
}
.KittiesGrid-item:nth-child(28) .KittyCard {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s
}
.KittiesGrid-item:nth-child(29) .KittyCard {
    -webkit-animation-delay: 1.45s;
    animation-delay: 1.45s
}
.KittiesGrid-item:nth-child(30) .KittyCard {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s
}
.KittiesGrid-item:nth-child(31) .KittyCard {
    -webkit-animation-delay: 1.55s;
    animation-delay: 1.55s
}
.KittiesGrid-item:nth-child(32) .KittyCard {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s
}
.KittiesGrid-item:nth-child(33) .KittyCard {
    -webkit-animation-delay: 1.65s;
    animation-delay: 1.65s
}
.KittiesGrid-item:nth-child(34) .KittyCard {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s
}
.KittiesGrid-item:nth-child(35) .KittyCard {
    -webkit-animation-delay: 1.75s;
    animation-delay: 1.75s
}
.KittiesGrid-item:nth-child(36) .KittyCard {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s
}
.KittiesGrid-item:nth-child(37) .KittyCard {
    -webkit-animation-delay: 1.85s;
    animation-delay: 1.85s
}
.KittiesGrid-item:nth-child(38) .KittyCard {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s
}
.KittiesGrid-item:nth-child(39) .KittyCard {
    -webkit-animation-delay: 1.95s;
    animation-delay: 1.95s
}
.KittiesGrid-item:nth-child(40) .KittyCard {
    -webkit-animation-delay: 2s;
    animation-delay: 2s
}
.KittiesGrid-item:nth-child(41) .KittyCard {
    -webkit-animation-delay: 2.05s;
    animation-delay: 2.05s
}
.KittiesGrid-item:nth-child(42) .KittyCard {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s
}
.KittiesGrid-item:nth-child(43) .KittyCard {
    -webkit-animation-delay: 2.15s;
    animation-delay: 2.15s
}
.KittiesGrid-item:nth-child(44) .KittyCard {
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s
}
.KittiesGrid-item:nth-child(45) .KittyCard {
    -webkit-animation-delay: 2.25s;
    animation-delay: 2.25s
}
.KittiesGrid-item:nth-child(46) .KittyCard {
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s
}
.KittiesGrid-item:nth-child(47) .KittyCard {
    -webkit-animation-delay: 2.35s;
    animation-delay: 2.35s
}
.KittiesGrid-item:nth-child(48) .KittyCard {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s
}
.KittiesGrid-item:nth-child(49) .KittyCard {
    -webkit-animation-delay: 2.45s;
    animation-delay: 2.45s
}
.KittiesGrid-item:nth-child(50) .KittyCard {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s
}
.KittiesGrid-item:nth-child(51) .KittyCard {
    -webkit-animation-delay: 2.55s;
    animation-delay: 2.55s
}
.KittiesGrid-item:nth-child(52) .KittyCard {
    -webkit-animation-delay: 2.6s;
    animation-delay: 2.6s
}
.KittiesGrid-item:nth-child(53) .KittyCard {
    -webkit-animation-delay: 2.65s;
    animation-delay: 2.65s
}
.KittiesGrid-item:nth-child(54) .KittyCard {
    -webkit-animation-delay: 2.7s;
    animation-delay: 2.7s
}
.KittiesGrid-item:nth-child(55) .KittyCard {
    -webkit-animation-delay: 2.75s;
    animation-delay: 2.75s
}
.KittiesGrid-item:nth-child(56) .KittyCard {
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s
}
.KittiesGrid-item:nth-child(57) .KittyCard {
    -webkit-animation-delay: 2.85s;
    animation-delay: 2.85s
}
.KittiesGrid-item:nth-child(58) .KittyCard {
    -webkit-animation-delay: 2.9s;
    animation-delay: 2.9s
}
.KittiesGrid-item:nth-child(59) .KittyCard {
    -webkit-animation-delay: 2.95s;
    animation-delay: 2.95s
}
.KittiesGrid-item:nth-child(60) .KittyCard {
    -webkit-animation-delay: 3s;
    animation-delay: 3s
}
.KittiesGrid-item:nth-child(61) .KittyCard {
    -webkit-animation-delay: 3.05s;
    animation-delay: 3.05s
}
.KittiesGrid-item:nth-child(62) .KittyCard {
    -webkit-animation-delay: 3.1s;
    animation-delay: 3.1s
}
.KittiesGrid-item:nth-child(63) .KittyCard {
    -webkit-animation-delay: 3.15s;
    animation-delay: 3.15s
}
.KittiesGrid-item:nth-child(64) .KittyCard {
    -webkit-animation-delay: 3.2s;
    animation-delay: 3.2s
}
.KittiesGrid-item:nth-child(65) .KittyCard {
    -webkit-animation-delay: 3.25s;
    animation-delay: 3.25s
}
.KittiesGrid-item:nth-child(66) .KittyCard {
    -webkit-animation-delay: 3.3s;
    animation-delay: 3.3s
}
.KittiesGrid-item:nth-child(67) .KittyCard {
    -webkit-animation-delay: 3.35s;
    animation-delay: 3.35s
}
.KittiesGrid-item:nth-child(68) .KittyCard {
    -webkit-animation-delay: 3.4s;
    animation-delay: 3.4s
}
.KittiesGrid-item:nth-child(69) .KittyCard {
    -webkit-animation-delay: 3.45s;
    animation-delay: 3.45s
}
.KittiesGrid-item:nth-child(70) .KittyCard {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s
}
.KittiesGrid-item:nth-child(71) .KittyCard {
    -webkit-animation-delay: 3.55s;
    animation-delay: 3.55s
}
.KittiesGrid-item:nth-child(72) .KittyCard {
    -webkit-animation-delay: 3.6s;
    animation-delay: 3.6s
}
.KittiesGrid-item:nth-child(73) .KittyCard {
    -webkit-animation-delay: 3.65s;
    animation-delay: 3.65s
}
.KittiesGrid-item:nth-child(74) .KittyCard {
    -webkit-animation-delay: 3.7s;
    animation-delay: 3.7s
}
.KittiesGrid-item:nth-child(75) .KittyCard {
    -webkit-animation-delay: 3.75s;
    animation-delay: 3.75s
}
.KittiesGrid-item:nth-child(76) .KittyCard {
    -webkit-animation-delay: 3.8s;
    animation-delay: 3.8s
}
.KittiesGrid-item:nth-child(77) .KittyCard {
    -webkit-animation-delay: 3.85s;
    animation-delay: 3.85s
}
.KittiesGrid-item:nth-child(78) .KittyCard {
    -webkit-animation-delay: 3.9s;
    animation-delay: 3.9s
}
.KittiesGrid-item:nth-child(79) .KittyCard {
    -webkit-animation-delay: 3.95s;
    animation-delay: 3.95s
}
.KittiesGrid-item:nth-child(80) .KittyCard {
    -webkit-animation-delay: 4s;
    animation-delay: 4s
}
.KittiesGrid-item:nth-child(81) .KittyCard {
    -webkit-animation-delay: 4.05s;
    animation-delay: 4.05s
}
.KittiesGrid-item:nth-child(82) .KittyCard {
    -webkit-animation-delay: 4.1s;
    animation-delay: 4.1s
}
.KittiesGrid-item:nth-child(83) .KittyCard {
    -webkit-animation-delay: 4.15s;
    animation-delay: 4.15s
}
.KittiesGrid-item:nth-child(84) .KittyCard {
    -webkit-animation-delay: 4.2s;
    animation-delay: 4.2s
}
.KittiesGrid-item:nth-child(85) .KittyCard {
    -webkit-animation-delay: 4.25s;
    animation-delay: 4.25s
}
.KittiesGrid-item:nth-child(86) .KittyCard {
    -webkit-animation-delay: 4.3s;
    animation-delay: 4.3s
}
.KittiesGrid-item:nth-child(87) .KittyCard {
    -webkit-animation-delay: 4.35s;
    animation-delay: 4.35s
}
.KittiesGrid-item:nth-child(88) .KittyCard {
    -webkit-animation-delay: 4.4s;
    animation-delay: 4.4s
}
.KittiesGrid-item:nth-child(89) .KittyCard {
    -webkit-animation-delay: 4.45s;
    animation-delay: 4.45s
}
.KittiesGrid-item:nth-child(90) .KittyCard {
    -webkit-animation-delay: 4.5s;
    animation-delay: 4.5s
}
.KittiesGrid-item:nth-child(91) .KittyCard {
    -webkit-animation-delay: 4.55s;
    animation-delay: 4.55s
}
.KittiesGrid-item:nth-child(92) .KittyCard {
    -webkit-animation-delay: 4.6s;
    animation-delay: 4.6s
}
.KittiesGrid-item:nth-child(93) .KittyCard {
    -webkit-animation-delay: 4.65s;
    animation-delay: 4.65s
}
.KittiesGrid-item:nth-child(94) .KittyCard {
    -webkit-animation-delay: 4.7s;
    animation-delay: 4.7s
}
.KittiesGrid-item:nth-child(95) .KittyCard {
    -webkit-animation-delay: 4.75s;
    animation-delay: 4.75s
}
.KittiesGrid-item:nth-child(96) .KittyCard {
    -webkit-animation-delay: 4.8s;
    animation-delay: 4.8s
}
.KittiesGrid-item:nth-child(97) .KittyCard {
    -webkit-animation-delay: 4.85s;
    animation-delay: 4.85s
}
.KittiesGrid-item:nth-child(98) .KittyCard {
    -webkit-animation-delay: 4.9s;
    animation-delay: 4.9s
}
.KittiesGrid-item:nth-child(99) .KittyCard {
    -webkit-animation-delay: 4.95s;
    animation-delay: 4.95s
}
.KittiesGrid-item:nth-child(100) .KittyCard {
    -webkit-animation-delay: 5s;
    animation-delay: 5s
}
@-webkit-keyframes kittyCardIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2.4rem);
        transform: translateY(2.4rem)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
@keyframes kittyCardIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2.4rem);
        transform: translateY(2.4rem)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
.KittiesGrid {
    --num-columns: 1;
    --size-gap: 1.5rem;
    display: -ms-grid;
    display: grid;
    grid-gap: var(--size-gap);
    -ms-grid-columns: (1fr)[var];
    grid-template-columns: repeat(var(--num-columns), 1fr)
}
@media (min-width: 480px) {
    .KittiesGrid {
        --num-columns: 2
    }
}
@media (min-width: 760px) {
    .KittiesGrid {
        --num-columns: 3;
        --size-gap: 1.8rem
    }
}
@media (min-width: 960px) {
    .KittiesGrid {
        --num-columns: 4
    }
}
.KittiesGrid--colspan-1 {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr)
}
.KittiesGrid--colspan-2 {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr)
}
.KittiesGrid--colspan-3 {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr)
}
.KittiesGrid--colspan-4 {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr)
}
.KittiesGrid-item {
    min-width: 0;
    min-height: 0
}
.KittiesGallery {
    margin: 2.4rem auto 0
}
@media (min-width: 760px) {
    .KittiesGallery {
        margin: 3.2rem auto 0
    }
}

.KittyShareModal {
    position: relative
}
.KittyShareModal-image {
    width: 50rem;
    max-width: 100%;
    margin-top: -1px
}
.KittyShareModal-description {
    font-size: 1.8rem
}
.KittyShareModal-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
.KittyShareModal-button {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}
.KittyShareModal-button:last-child {
    margin-left: 1.5rem
}
.KittyShareModal-close {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url("static/image/cross.svg");
    opacity: .3
}
.KittyShareModal-close:hover {
    opacity: .7
}
.KittyBanner {
    --size-card: 32rem;
    --size-image: 32rem;
    --width-shadow: 12.5rem;
    --height-shadow: 1.8rem;
    --translate-shadow-x: -0.3rem;
    --translate-shadow-y: 5.8rem;
    width: 100%;
    background-color: #e0ebf2;
    cursor: default;
    overflow: hidden
}
@media (min-width: 960px) {
    .KittyBanner {
        --size-card: 45rem;
        --size-image: 45rem;
        --width-shadow: 22rem;
        --height-shadow: 3rem;
        --translate-shadow-x: -0.5rem;
        --translate-shadow-y: 9.8rem
    }
}
.KittyBanner-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: var(--size-card);
    margin: 0 auto
}
.KittyBanner-container:before {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: block;
    width: var(--width-shadow);
    height: var(--height-shadow);
    margin: auto;
    background-color: hsla(0, 0%, 4%, .1);
    background-blend-mode: soft-light;
    border-radius: 50%;
    -webkit-transform: translate(var(--translate-shadow-x), var(--translate-shadow-y));
    transform: translate(var(--translate-shadow-x), var(--translate-shadow-y));
    content: "";
    z-index: 1
}
.KittyBanner.KittyBanner--fancy .KittyBanner-container:before,
.KittyBanner.KittyBanner--nullCat .KittyBanner-container:before {
    display: none
}
.KittyBanner.KittyBanner--nullCat .KittyBanner-image {
    opacity: .5
}
.KittyBanner-image {
    position: relative;
    width: var(--size-image);
    height: var(--size-image);
    transition: -webkit-transform .3s cubic-bezier(.06, .67, .37, .99);
    transition: transform .3s cubic-bezier(.06, .67, .37, .99);
    transition: transform .3s cubic-bezier(.06, .67, .37, .99), -webkit-transform .3s cubic-bezier(.06, .67, .37, .99);
    z-index: 2
}
.KittyBanner-status {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2.4rem 0;
    z-index: 3
}
.KittyBanner-share {
    position: absolute;
    top: 2.4rem;
    right: 0;
    z-index: 3
}
.KittyBanner-shareBtn {
    cursor: pointer;
    transition: -webkit-transform .3s cubic-bezier(.06, .67, .37, .99);
    transition: transform .3s cubic-bezier(.06, .67, .37, .99);
    transition: transform .3s cubic-bezier(.06, .67, .37, .99), -webkit-transform .3s cubic-bezier(.06, .67, .37, .99)
}
.KittyBanner-shareBtn:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}
.KittyBanner-shareBtn:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}
.KittySection {
    margin: 0 0 3.2rem
}
@media (min-width: 760px) {
    .KittySection {
        margin: 0 0 4rem
    }
}
.KittySection:last-child {
    margin: 0
}
.KittySection-heading {
    margin: 0 0 .8rem;
    font-size: 2.4rem;
    font-weight: 500
}
.KittyTransferModal {
    position: relative
}
.KittyTransferModal-image {
    width: 50rem;
    max-width: 100%;
    margin-top: -1px
}
.KittyTransferModal-description {
    font-size: 1.8rem
}
.KittyTransferModal-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
.KittyTransferModal-button {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}
.KittyTransferModal-button:last-child {
    margin-left: 1.5rem
}
.KittyTransferModal-close {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url("static/image/cross.svg");
    opacity: .3
}
.KittyTransferModal-close:hover {
    opacity: .7
}

.KittiesGalleryPagination {
    padding: 2.4rem;
    max-width: 112rem;
    margin: 0 auto
}
@media (min-width: 760px) {
    .KittiesGalleryPagination {
        padding-left: 3.2rem;
        padding-right: 3.2rem
    }
}
.BrowsePage {
    padding-bottom: 6.4rem
}

.Pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
@media (min-width: 760px) {
    .Pagination {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }
}
.Pagination-button,
.Pagination-page {
    border-radius: .3rem;
    font-weight: 500;
    cursor: pointer;
    outline: none
}
.Pagination-button {
    padding-top: .8rem;
    padding-bottom: .8rem;
    font-size: 2rem;
    color: #0b0b0b;
    transition: color .25s
}
@media (min-width: 760px) {
    .Pagination-button {
        padding-left: 2.4rem;
        padding-right: 0
    }
}
.Pagination-button:hover {
    color: #e96bd4
}
.Pagination-button--disabled {
    color: #9c9c9b;
    pointer-events: none
}
.Pagination-page {
    margin-right: .4rem;
    padding: .8rem 1.5rem;
    font-size: 1.76rem;
    color: #2a2825;
    transition: background-color .25s
}
@media (min-width: 760px) {
    .Pagination-page {
        margin-right: .8rem
    }
}
.Pagination-page:hover {
    background-color: #f3f1ee
}
.Pagination-page--active,
.Pagination-page--active:hover {
    background-color: #e96bd4;
    color: #fff
}
.KittiesGalleryPagination {
    padding: 2.4rem;
    max-width: 112rem;
    margin: 0 auto
}
@media (min-width: 760px) {
    .KittiesGalleryPagination {
        padding-left: 3.2rem;
        padding-right: 3.2rem
    }
}
.BrowsePage {
    padding-bottom: 6.4rem
}



button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details,
menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

[hidden],
template {
    display: none
}

.shake-hard {
    display: inline-block;
    transform-origin: center center
}

.shake-constant.shake-constant--hover:hover,
.shake-freeze,
.shake-trigger:hover .shake-constant.shake-constant--hover {
    animation-play-state: paused
}

.shake-freeze:hover,
.shake-hard:hover,
.shake-trigger:hover .shake-freeze,
.shake-trigger:hover .shake-hard {
    animation-play-state: running

}

.Button:focus,
.Button:hover,
a.Button:focus,
a.Button:hover {
    border: 2px solid #e7e6e4;
    box-shadow: 0 .2rem 0 0 #e7e6e4;
    -webkit-transform: translateY(-.2rem);
    transform: translateY(-.2rem)
}

.Button:active,
a.Button:active {
    box-shadow: none;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.Button--full,
a.Button--full {
    width: 100%
}

.Button--wide,
a.Button--wide {
    padding: 0 3.2rem
}

.Button--large,
a.Button--large {
    height: 5.6rem
}

.Button--larger,
a.Button--larger {
    height: 6.2rem;
    padding: 0 2.4rem;
    font-size: 2rem
}

.Button--largest,
a.Button--largest {
    height: 7rem;
    padding: 0 3.2rem;
    font-size: 2.2rem
}

.Button--icon,
a.Button--icon {
    padding: 0 1.5rem 0 3.52rem
}

.Button--buy,
.Button--love,
a.Button--buy,
a.Button--love {
    --color-main: #e37ad3;
    --color-shadow: #d850b1;
    background-color: var(--color-main);
    color: #fff;
    font-weight: 500;
    border: .2rem solid #0b0b0b;
    box-shadow: inset 0 0 0 .3rem var(--color-shadow)
}

.Button--buy:focus,
.Button--buy:hover,
.Button--love:focus,
.Button--love:hover,
a.Button--buy:focus,
a.Button--buy:hover,
a.Button--love:focus,
a.Button--love:hover {
    border: .2rem solid #0b0b0b;
    box-shadow: inset 0 0 0 .3rem var(--color-shadow), 0 .4rem 0 0 #e7e6e4;
    -webkit-transform: translateY(-.2rem);
    transform: translateY(-.2rem)
}

.Button--buy:active,
.Button--love:active,
a.Button--buy:active,
a.Button--love:active {
    box-shadow: inset 0 0 0 .3rem var(--color-shadow);
    -webkit-transform: translateY(.2rem);
    transform: translateY(.2rem)
}

.Button--cta,
a.Button--cta {
    box-shadow: inset 0 0 0 .4rem var(--color-shadow), 0 .4rem 0 0 #e7e6e4
}

.Button--cta:focus,
.Button--cta:hover,
a.Button--cta:focus,
a.Button--cta:hover {
    box-shadow: inset 0 0 0 .4rem var(--color-shadow), 0 .5rem 0 0 #e7e6e4;
    -webkit-transform: translateY(-.2rem);
    transform: translateY(-.2rem)
}

.Button--cta:active,
a.Button--cta:active {
    box-shadow: inset 0 0 0 .4rem var(--color-shadow);
    -webkit-transform: translateY(.3rem);
    transform: translateY(.3rem)
}

.Button--buy,
a.Button--buy {
    --color-main: #fba371;
    --color-shadow: #ff844b
}

.Button-icon,
a.Button-icon {
    position: absolute;
    top: 50%;
    left: 1.2rem;
    height: 1.6rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.Button-number,
a.Button-number {
    margin-left: .8rem;
    color: #ff9b6a
}

.Button--disabled,
.Button[disabled],
a.Button--disabled,
a.Button[disabled] {
    opacity: .5;
    color: #82817d;
    pointer-events: none;
    cursor: not-allowed
}

.Button--disabled:active,
.Button--disabled:focus,
.Button--disabled:hover,
.Button[disabled]:active,
.Button[disabled]:focus,
.Button[disabled]:hover,
a.Button--disabled:active,
a.Button--disabled:focus,
a.Button--disabled:hover,
a.Button[disabled]:active,
a.Button[disabled]:focus,
a.Button[disabled]:hover {
    box-shadow: none;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.Button--love.Button--disabled,
.Button--love[disabled] {
    color: #fff
}


.Container {
    margin: 0 auto;
    padding: 0 2.4rem;
    width: 100%;
    max-width: 96rem
    }
    
    @media (min-width:760px) {
    .Container {
        padding: 0 3.2rem
    }
    }
    
    .Container--sm {
    max-width: 72rem
    }
    
    .Container--lg {
    max-width: 112rem
    }
    
    .Container__full {
    max-width: 100%
    }
    
    .Container--center {
    text-align: center
    }
    
    @media (min-width:760px) {
    .Container--half {
        position: absolute;
        max-width: 55%
    }
    }
    
    @media (min-width:960px) {
    .Container--half {
        max-width: 51%
    }
    }
    